<!DOCTYPE HTML>
<html>
	<head>
		<title>Escape Velocity Forum</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">
					<!-- Nav -->
					<%- include("../_partials/_navbar"); %>

				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title"></div>
					<div class="container">
						<!-- Features -->
							<section id="features">
									<div class="row">
                                        <div class="col-3">
                                            Hello
                                        </div>

                                        <div class="col-9">
                                            Arnav
                                        </div>
									</div>
							</section>

					</div>
				</section>

			
			<!-- Footer -->
				<section id="footer" class="wrapper">
					
					<div class="container">						
						<!--Footer-->
						<%- include("../_partials/_footer"); %>
					</div>
				</section>

		</div>

        <!-- Scripts -->
        
        
			<script src="/static/assets/js/jquery.min.js"></script>
            
            <script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
            <script src="/static/assets/js/main.js"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

            <script>
                $(document).ready(function() {
                    $('#example').DataTable();
                } );
            </script>
	</body>
</html>