<nav id="nav">
    <ul>
        <li class="current"><a href="index.html">Home</a></li>
        <li>
            <a href="#">Categories</a>
            <ul>
                <li><a href="#">Programming Basics</a></li>
                <li><a href="#">Python</a></li>
                <li><a href="#">Node.js</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">DBMS</a></li>
            </ul>
        </li>
        <li><a href="forum_page.html">About us</a></li>
        <li><a href="right-sidebar.html">Contact us</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>