<nav id="nav">
    <ul>
        <li class="current"><a href="/">Home</a></li>
        <li>
            <a href="#">Categories</a>
            <ul>
                <li><a href="/forum?id=1">Programming Basics</a></li>
                <li><a href="/forum?id=2">Python</a></li>
                <li><a href="/forum?id=3">Node.js</a></li>
                <li><a href="/forum?id=4">Bootstrap</a></li>
                <li><a href="/forum?id=5">CSS</a></li>
                <li><a href="/forum?id=6">DBMS</a></li>
            </ul>
        </li>
        <li><a href="forum_page.html">About us</a></li>
        <li><a href="right-sidebar.html">Contact us</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>